@font-face {
    font-family: "Niguella";
    src: url("../fonts/niguella-webfont.woff2") format("woff2"),
            url("../fonts/niguella-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins regular";
    src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
            url("../fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins italic";
    src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"),
            url("../fonts/poppins-italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins bold";
    src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
            url("../fonts/poppins-bold-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

html {
    background-color: #f6f6f6;
}

header {
    display: none;
    height: 12vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 10vw;
}

header img {
    height: 5vw;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15%;
    padding: 0 3vw;
}

nav img {
    height: 4vw;
}

nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.barre {
    border-top: solid 1px #000000;
    width: 7.5vw;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 157, 164, 0.3);
    border-radius: 0.5vw;
    height: 6vw;
    width: 6vw;
}

a {
    text-decoration:  none;
    color: black;
}

.corps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 85%;
}

.logo {
    display: block;
    height: 5.5vw;
    margin: 2vw 0;
}

.cadre {
    display: flex;
    border: #000000 solid 2px;
    border-right: none;
    width: 95%;
    height: 75%;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    margin-left: 5%;
    overflow: hidden;
    margin-bottom: 2vh;
}

.carousel {
    display: flex;
    flex-direction: column;
    height: 75vw;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    transform:rotate(-90deg);
}

.carousel::-webkit-scrollbar {
    display: none;
}

.post {
    display: flex;
    position: relative;
    width: 30vw;
    height: 30vw;
    margin: calc(calc(calc(80vw - 5vw) - 60vw) / 4) 0;
    transform:rotate(90deg);
    justify-content: center;
    align-items: center;
}

.nft {
    height: 99%;
    width: 99%;
}

.marge {
    display: flex;
    position: absolute;
    right: 0;
    background-color: #f6f6f6;
    width: 40%;
    height: 100%;
    padding: 0.5vw;
    justify-content: center;
    align-items: center;
}

.text {
    background-color:  #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 100%;
    border: #000000 solid 1px;
    margin: 0.5vw;
    padding: 0.5vw;
}

.pp {
    height: 2vw;
    width: 2vw;
}

.nom {
    font-family: 'Niguella';
    font-size: 4vw;
    transform: rotate(-90deg) translate(0, -6.5vw);
    width: 23vw;
    text-align: center;
}

.nom.dbligne {
    transform: rotate(-90deg) translate(0, -6vw);
}

.id {
    font-family: 'Poppins';
    text-align: center;
    font-size: 1.2vw;
}

footer {
    display: none;
    height: 8vh;
    width: 100%;
    padding: 2vh 10vw;
    background-color: #f6f6f6;
    border-top: #000000 solid 1px;
}

footer ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height: 5vw;
}



                     /* RESPONSIVE */




@media screen and (max-width: 1200px) {

    .post {
        width: 35vw;
        height: 35vw;
    }

    .nom {
        font-size: 5vw;
        transform: rotate(-90deg) translate(0, -8.7vw);
        width: 30vw;
    }
    
    .nom.dbligne {
        transform: rotate(-90deg) translate(0, -8.5vw);
    }

    .id {
        font-size: 1.3vw;
    }

}

@media screen and (max-width: 1000px) {

    .post {
        width: 40vw;
        height: 40vw;
    }

    .pp {
        height: 2.5vw;
        width: 2.5vw;
    }

    .nom {
        font-size: 6vw;
        transform: rotate(-90deg) translate(0, -7.7vw);
    }
    
    .nom.dbligne {
        transform: rotate(-90deg) translate(0, -7.5vw);
    }

    .id {
        font-size: 1.4vw;
    }

}

@media screen and (max-width:900px) {
    
    .logo {
        height: 7vw;
    }

    .cadre {
        border-right: #000000 solid 2px;
        border-bottom: none;
        width: 80%;
        height: 85%;
        padding-top: 5vw;
        padding-left: 0;
        margin: 2vw 0 0 0;
    }
    
    .carousel {
        height: 100%;
        transform:rotate(0);
    }
    
    .post {
        width: 50vw;
        height: 50vw;
        transform:rotate(0);
    } 

    .pp {
        height: 3vw;
        width: 3vw;
    }

    .nom {
        font-size: 7.5vw;
        transform: rotate(-90deg) translate(0, -10.5vw);
        width: 40vw;
    }
    
    .nom.dbligne {
        transform: rotate(-90deg) translate(0, -10.5vw);
    }

    .id {
        font-size: 1.6vw;
    }

}

@media screen and (max-width: 800px) {

    main {
        justify-content: center;
        height: auto;
        align-items: center;
    }

    header {
        display: flex;
    }

    .corps {
        height: calc(80vh - 2vw);
        width: 100%;
        justify-content: start;
    }

    .corps .logo {
        display: none;
    }

    nav {
        display: none;
    }

    .cadre {
        height: auto;
        margin-top: 0;
    }

    footer {
        display: flex;
    }

    .active {
        height: 8vw;
        width: 8vw;
    }

}