@font-face {
    font-family: "Niguella";
    src: url("/fonts/niguella-webfont.woff2") format("woff2"),
            url("/fonts/niguella-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins regular";
    src: url("/fonts/poppins-regular-webfont.woff2") format("woff2"),
            url("/fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins italic";
    src: url("/fonts/poppins-italic-webfont.woff2") format("woff2"),
            url("/fonts/poppins-italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins bold";
    src: url("/fonts/poppins-bold-webfont.woff2") format("woff2"),
            url("/fonts/poppins-bold-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

html {
    background-color: #f6f6f6;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav {
    height: 100%;
    width: 200px;
    padding: 0 50px;
}

nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.barre {
    border-top: solid 1px #000000;
    width: 100px;
}

.corps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;    
}

.logo {
    display: block;
    height: 100px;
}

.cadre {
    display: flex;
    flex-direction: column;
    border: #000000 solid 2px;
    width: 85%;
    height: 80%;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.contenu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 75%;
}

.import {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #000000 solid 1px;
    height: 33vw;
    width: 33vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.select {
    position: absolute;
    opacity: 0;
    z-index: 10;
    width: 35%;
    height: 60%;
    cursor: pointer;
}

p {
    font-family: 'Poppins';
    font-size: 30px;
    color: rgba(0,0,0, 0.7);
}

.import img {
    margin: 2vw;
}

.fake {
    display: flex;
    background-color: #119DA4;
    width: 30%;
    height: 7%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fake p {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 33vw;
    width: 33vw;
}

.info input {
    font-family: 'Poppins';
    font-size: 30px;
    color: rgba(0,0,0, 0.7);
}

.name {
    border: #000000 solid 1px;
    height: 15%;
    width: 100%;
    text-align: center;
    background-color: #f6f6f6;
}

.description {
    border: #000000 solid 1px;
    height: 55%;
    width: 100%;
    text-align: center;
    background-color: #f6f6f6;
}

.publier {
    background-color: #119DA4;
    width: 25%;
    height: 7%;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 30px;
    cursor: pointer;
}