@font-face {
    font-family: "Niguella";
    src: url("../fonts/niguella-webfont.woff2") format("woff2"),
            url("../fonts/niguella-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins regular";
    src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
            url("../fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins italic";
    src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"),
            url("../fonts/poppins-italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins bold";
    src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
            url("../fonts/poppins-bold-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

html {
    background-color: #f6f6f6;
}

header {
    display: none;
    height: 10vw;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 2vw 0;
    padding: 0 10vw;
}

header img {
    height: 5vw;
}

body {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 15%;
    padding: 0 3vw;
}

nav img {
    height: 4vw;
}

nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.barre {
    border-top: solid 1px #000000;
    width: 7.5vw;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 157, 164, 0.3);
    border-radius: 0.5vw;
    height: 6vw;
    width: 6vw;
}

.corps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    display: flex;
    height: 5.5vw;
    margin: 2vw 0;
}

.cadre {
    display: flex;
    flex-direction: column;
    border: #000000 solid 2px;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    margin-bottom: 2vh;
}

.contenu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 67%;
}

.import {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #000000 solid 1px;
    height: 30vw;
    width: 30vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.select {
    position: absolute;
    opacity: 0;
    z-index: 10;
    height: 30vw;
    width: 30vw;
    cursor: pointer;
}

p {
    font-family: 'Poppins';
    font-size: 2.5vw;
    color: rgba(0,0,0, 0.7);
}

.plus {
    margin: 2vw;
    height: 5vw;
}

.fake {
    display: flex;
    background-color: #119DA4;
    width: 40%;
    height: 7%;
    border-radius: 0.3vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fake p {
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 1.5vw;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30vw;
    width: 30vw;
}

.info input {
    font-family: 'Poppins';
    font-size: 2.5vw;
    color: rgba(0,0,0, 0.7);
}

.name {
    border: #000000 solid 1px;
    height: 15%;
    width: 100%;
    text-align: center;
    background-color: #f6f6f6;
}

.description {
    border: #000000 solid 1px;
    height: 55%;
    width: 100%;
    text-align: center;
    background-color: #f6f6f6;
}

.publier {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #119DA4;
    width: 25%;
    height: 10%;
    border: none;
    border-radius: 0.5vw;
    margin-top: 1vw;
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 2.5vw;
    cursor: pointer;
}

footer {
    display: none;
    position: sticky;
    bottom: 0;
    height: 10vh;
    width: 100%;
    padding: 0 10vw;
    margin: 2vw 0;
    background-color: #f6f6f6;
}

footer ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height: 5vw;
}



                     /* RESPONSIVE */



@media screen and (max-width: 1300px) {

    .cadre {
        margin-top: 2vw;
        padding: 4vw 2vw;
    }

    .import {
        height: 32.5vw;
        width: 32.5vw;
    }

    .info {
        height: 32.5vw;
        width: 32.5vw;
    }

}

@media screen and (max-width: 1000px) {

    .corps {
        height: 100%;
    }

    .cadre {
        height: 100%;
        padding: 2vw;
    }

    .contenu {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .import {
        height: 50vw;
        width: 50vw;
        margin-bottom: 4vw;
    }

    .select {
        height: 50vw;
        width: 50vw;
    }

    .info {
        height: 50vw;
        width: 50vw;
    }

    .publier {
        margin-top: 3vw;
    }

}

@media screen and (max-width: 800px) {

    header {
        display: flex;
    }

    .corps .logo {
        display: none;
    }

    nav {
        display: none;
    }

    footer {
        display: flex;
    }

    .cadre {
        padding: 4vw;
    }

    .import {
        height: 60vw;
        width: 60vw;
        margin-bottom: 4vw;
    }

    .select {
        height: 60vw;
        width: 60vw;
    }

    .info {
        height: 60vw;
        width: 60vw;
    }

    .publier {
        width: 60vw;
        height: 15%;
        font-size: 3vw;
    }
    
    .active {
        height: 8vw;
        width: 8vw;
    }
    
}