@font-face {
    font-family: "Niguella";
    src: url("../fonts/niguella-webfont.woff2") format("woff2"),
            url("../fonts/niguella-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins regular";
    src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
            url("../fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins italic";
    src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"),
            url("../fonts/poppins-italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins bold";
    src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
            url("../fonts/poppins-bold-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

html {
    background-color: #f6f6f6;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav {
    height: 100%;
    width: 200px;
    padding: 0 50px;
}

nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.barre {
    border-top: solid 1px #000000;
    width: 100px;
}

.corps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.logo {
    display: block;
    height: 10vh;
}

.cadre {
    display: flex;
    flex-direction: column;
    border: #000000 solid 2px;
    border-right: none;
    width: 100%;
    height: 80vh;
    padding: 2vw 3vw;
}

.user {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.user img {
    width: 15vw;
    height: 15vw;
}

.info {
    height: 20vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nom {
    display: flex;
    flex-direction: column;
    height: 30%;
}

.titre {
    font-family: 'Poppins';
    font-size: 24px;
    color: rgba( 0, 0, 0, 0.7);
}

.text {
    font-family: 'Poppins';
    font-size: 34px;
}

.desc {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.text_ita {
    font-family: "Poppins italic";
    font-size: 22px;
    padding-top: 0.5vw;
}

.abo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    width: 25vw;
    height: 100%;
}

.stat {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}

.stat span {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    font-family: 'Poppins';
    font-size: 20px;
    color: rgba( 0, 0, 0, 0.7);
}

.bouton {
    display: flex;
    margin-top: 50px;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
    width:100%;
}

.grand {
    height: 3vw;
    width: 49%;
    margin-right: 50px;
    background: #119DA4;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 20px;
    color: #ffffff;
}

.autre {
    height: 2vw;
    width: 2vw;
    background: #119DA4;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 20px;
    color: #ffffff;
    margin: 1vw 0;
}

#report{
    display: none;
    margin-top: 20px;
    width: 100%;
    justify-content: end;
}

.bouton.open #report{
    display: flex;
    
}

#open_settings{
    width:auto;
    height: auto;
    margin-right: 50px;
    padding: 0.5rem;
}

.collection {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.nft {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    width: 100%;
    /* height: 100%;
    width: 15vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-15vw);  
    transform-origin: right top; */
}

.nft::-webkit-scrollbar {
    display: none;
}

.nft a:first-of-type {
    margin-left: 0;
}

.post {
    width: 14vw;
    height: 14vw;
    transition: 0.5s;
    /* transform: rotate(90deg); */
}

.nft a {
    margin-left: 5vw;
}

button {
    cursor: pointer;
}

.settings {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
}

.settings .popup {
    width: 400px;
    height: 550px;
    background-color: #119DA4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.settings .popup button {
    background-color: transparent;
    width: 100%;
    padding: 1.8rem 0;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-family: "Poppins regular";
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
}

.settings .popup button:not(.settings .popup button:last-of-type):after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
}

.settings form {
    width: 550px;
    height: 400px;
    background-color: #119DA4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    padding: 30px;
    position: relative;
}

.settings form textarea {
    width: 100%;
    height: 60%;
    resize: none;
    border-radius: 5px;
    background-color: transparent;
    border-color: #ffffff;
    padding: 1rem;
    color: #ffffff;
    font-size: 20px;
    font-family: "Poppins regular";
}

.settings form textarea:focus {
    outline: none;
}

.settings form textarea::placeholder {
    color: #ffffff;
}

.settings form button {
    width: 40%;
    padding: 0.5rem 0;
    background-color: #ffffff;
    color: #119DA4;
    font-size: 20px;
    font-family: "Poppins regular";
    border-radius: 5px;
    border: none;
}

.settings img.return {
    position: absolute;
    top: 15px;
    left: 30px;
    cursor: pointer;
}

.settings #new_pdp div{
    border: 1px solid #ffffff;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.settings #new_pdp input{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

.settings #new_mdp input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
}

.settings #new_mdp input:focus{
    outline: none;
}

.settings #new_mdp input::placeholder{
    color: #ffffff;
}