@font-face {
    font-family: "Niguella";
    src: url("../fonts/niguella-webfont.woff2") format("woff2"),
            url("../fonts/niguella-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins regular";
    src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
            url("../fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins italic";
    src: url("../fonts/poppins-italic-webfont.woff2") format("woff2"),
            url("../fonts/poppins-italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "Poppins bold";
    src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
            url("../fonts/poppins-bold-webfont.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
}

html {
    background-color: #f6f6f6;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

nav {
    height: 100%;
    width: 200px;
    padding: 0 50px;
}

nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.barre {
    border-top: solid 1px #000000;
    width: 100px;
}

.corps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.logo {
    display: block;
    height: 10vh;
}

.cadre {
    display: flex;
    flex-direction: column;
    border: #000000 solid 2px;
    border-right: none;
    width: 100%;
    height: 80vh;
    padding: 2vw 3vw;
}

.user {
    display: flex;
    justify-content: space-between;
    height: 50%;
}

.user img {
    width: 15vw;
    height: 15vw;
}

.info {
    height: 20vw;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nom {
    display: flex;
    flex-direction: column;
    height: 30%;
}

.titre {
    font-family: 'Poppins';
    font-size: 24px;
    color: rgba( 0, 0, 0, 0.7);
}

.text {
    font-family: 'Poppins';
    font-size: 34px;
}

.desc {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.text_ita {
    font-family: "Poppins italic";
    font-size: 22px;
    padding-top: 0.5vw;
}

.abo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 25vw;
    height: 100%;
}

.stat {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}

.stat span {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.title {
    font-family: 'Poppins';
    font-size: 20px;
    color: rgba( 0, 0, 0, 0.7);
}

.bouton {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    align-items: flex-end   ;
    justify-content: space-between;
}

.grand {
    height: 3vw;
    width: 49%;
    background: #119DA4;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 20px;
    color: #ffffff;
}

.autre {
    height: 2vw;
    width: 2vw;
    background: #119DA4;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 20px;
    color: #ffffff;
    margin: 1vw 0;
}

.report {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.collection {
    height: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nft {
    height: 75vw;
    width: 20vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-20vw);  
    transform-origin: right top;
}

.nft::-webkit-scrollbar {
    display: none;
}

.nft:first-child {
    margin-bottom: 0;
}

.post {
    position: relative;
    width: 75%;
    height: 75%;
    margin: 0 0 4vw 0;
    transform: rotate(90deg);
}
